.container {
  flex: 8;
  background-color: #f5f5f5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}


.name {
  width: 100%;
  background-color: white;
  padding: 0.9rem;
}
.chat {
  padding: 15px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.chat::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.226);
  border-radius: 10px;
}

.chat::-webkit-scrollbar-track {
  background: #f1f1f100;
  margin-block: 20px;
}

.input {
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.103);
  width: calc(100% - 20px);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
}

.input textarea {
  width: 100%;
  padding: 0.5rem 0.8rem;
  outline: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-size: 1rem;
  transition: border-color 0.3s;
  resize: none;
}

.input textarea:hover {
  border-color: #b9b9b9;
}
.input textarea:focus {
  border-color: #b9b9b9;
}

.input textarea::placeholder {
  color: gray;
  font-weight: 500;
}

.input button {
  border: none;
  outline: none;
  padding: 0.5rem 0.8rem;
  background-color: #3d3d3d;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.input button:hover {
  background-color: rgb(27, 27, 27);
}

.commentWrapper {
  width: 100%;
}

.replyWrapper {
  width: 100%;
}

.comment {
  display: flex;
  gap: 10px;
  width: 100%;
}

.reply {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.dp,
.dpmob {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.dp img,
.dpmob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
  background-color: white;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.164);
  padding: 13px;
  border-radius: 10px;
  width: 100%;
  max-width: 520px;
  word-break: break-all;
}

.message p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #686868;
  font-weight: 500;
}

.reply .message h5 {
  background-color: #1b1b1b;
  color: white;
}
.reply .message p {
  margin-left: auto;
  width: max-content;
}

.header {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}


.back {
  font-size: 1.5rem;
  color: #383838;
}

.peer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block {
  display: flex !important;
}


@media only screen and (max-width: 800px) {
  .container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .input {
    position: sticky;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    padding: 8px;
  }

  .chat{
    height: 100vh;
  }

  .dp {
    display: none;
  }
}