.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}


.heading h1 {
  text-align: center;
}


.content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}


.btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.btn button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  line-height: 0.5;
  background-color: rgb(29, 29, 29);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: transform 0.1s;
}

.btn button:hover {
  background-color: black;
}

.btn button:active {
  transform: rotate(90deg) scale(0.95);
}

@media screen and (max-width: 880px) {
  .content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .container{
    padding: 20px;
  }

  .btn {
    position: fixed;
    bottom: 10%;
    right: 5%;
  }
}

@media screen and (max-width: 430px) {
  .card {
    width: 100%;
    margin-left: 0;
  }
  .container {
    padding: 0;
    width: 0;
  }
}
