.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 450px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  font-size: 1.5rem;
  color: rgb(112, 112, 112);
}

.flex input,
.flex textarea {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 100%;
  outline: none;
  padding: 0.5rem 0.1rem;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.flex textarea {
  resize: vertical;
}

.flex input:hover,
.flex textarea:hover {
  border-color: rgb(104, 104, 104);
}

.flex input:focus,
.flex textarea:focus {
  border-color: rgb(80, 80, 80);
}

.cta {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.cta button {
  padding: 0.3rem 0.8rem;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s;
}
.cta button:first-child {
  background-color: white;
}

.cta button:last-child {
  background-color: #80b9e8;
  color: white;
}

.cta button:first-child:hover {
  background-color: rgb(228, 228, 228);
}

.cta button:last-child:hover {
  background-color: #488ec7;
}

@media only screen and (max-width: 660px) {
  .inputs {
    width: 310px;
  }
}
