.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* min-width: 350px; */
  height: max-content;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  margin-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.header p {
  color: rgb(134, 134, 134);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.content {
  padding: 10px 0;
}

.img {
  border-radius: 10px;
  overflow: hidden;
  height: 180px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  padding-block: 10px;
}

.body h1 {
  font-weight: 600;
  color: #464646;
}

.body p {
  color: rgb(100, 100, 100);
  font-weight: 500;
}

.cta a {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  width: max-content;
  border: none;
  outline: none;
  color: rgb(0, 123, 238);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.cta a:hover {
  color: rgb(0, 47, 255);
}

@media screen and (max-width: 880px) {
  .card {
    width: 96vw;
  }
  .container {
    width:90vw;
  }
}
