.container {
  min-height: 92px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: top 0.5s ease;
  padding: 1rem 0;
  /* box-shadow: 0px 1px 5px rgba(36, 36, 36, 0.233); */
}

.container nav {
  max-width: 1536px;
  margin: auto;
  display: flex;
  padding: 0.5rem 2rem;
  /* padding: 1.5rem 0; */
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  z-index: 10;
}

.logo img {
  width: 100%;
}


.navlinks ul,
.moblinks ul {
  list-style: none;
  display: flex;
  font-weight: 500;
  font-size: 1.2rem;
}

.navlinks ul {
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
}

.navlinks ul li {
  padding: 5px 0;
  margin-left: 2rem;
}

.navlinks a,
.moblinks a {
  text-decoration: none;
}

.navlinks ul li,
.moblinks ul li {
  /* border: none !important; */
  user-select: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  color: #1a1a1a;
  font-weight: 500;
}
.navlinks ul li:hover{
  background-color: #e4e3e3b2;
  font-weight: 900;
}

.moblinks ul {
  width: 86%;
  /* gap: 1rem; */
  margin: auto;
}

.moblinks ul:first-child {
  margin-bottom: 10px;
}

.moblinks ul:last-child {
  margin-top: 10px;
  align-items: center;
}

.moblinks ul li {
  overflow: hidden;
  margin: 0.5rem;
}

.moblinks ul li div {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.moblinks ul li div p {
  transition: transform 0.3s;
}

.moblinks ul li:hover .moblinks ul li div p:last-child {
  transform: translateX(-10px);
}

.login,
.signup {
  /* border: none !important; */
  font-weight: 600;
  padding: 0.5rem 0.8rem !important;
  border-radius: 5px;
  cursor: pointer;
}


/* .login:hover {
    border-color: transparent !important;
    background-color: #e6e6e6;
  } */

.signup {
  border: 2px solid #1a1a1a ;
  /* background-color: #1a1a1a; */
  /* color: #e4e4e4 !important; */
}

.moblinks {
  flex-direction: column;
}

.menu {
  z-index: 12;
}

.moblinks {
  position: fixed;
  height: 60vh;
  width: 80%;
  background-color: #fbfbfb;
  box-shadow: 1px 8px 12px 1px rgb(71, 70, 70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
  top: 20%;
  left: 10%;
  /* position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.moblinksContainer{
  position: fixed;
  background-color: #1a1a1a8c;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 10;
}

.moblinks ul {
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 500;
}



.moblogin {
  text-align: center;
  padding: 4px 8px;
  border-radius: 8px;
  /* color: black; */
  color: rgb(245, 245, 245);
  background-color: #1a1a1a;
}

.moblogin p {
  color: white;
  padding: 0;
}
.logoutButton {
  color: #dadada !important;
}

@media only screen and (min-width: 800px) {
  .container .mob {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .container .web {
    display: none;
  }

  .container .mob {
    justify-content: space-between;
    padding: 1rem;
  }
}
