.container {
  position: sticky;
  top: 105px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #1d1d1d; */
  padding-block: 1.5rem;
  /* min-width: 100px; */
  width: 20vw;
  /* border-radius: 15px; */
  border-right: 1px solid #e0dfdf;
  z-index: 9;
}

.pic {
  /* background-color: rgb(196, 196, 196); */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 1px 8px 12px 1px rgb(206, 204, 204);
}

.pic:hover {
  transform: scale(1.1);
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons {
  display: flex;
  flex-direction: column;
  /* gap: 0.6rem; */
}

.icon, .logout {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 90%;
  padding: 5px;
  border-radius: 8px;
  color: #1a1a1a;
  text-decoration: none;
}

.icon:hover, .logout:hover{
  background-color: #e4e3e3b2;
  font-weight: 700;
}

.iconlogo{
  font-size: 1rem;
  margin: 3px;
}

.iconlabel{
  margin-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 100%;
}
.iconlabel:hover, .logout:hover{
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .container {
    height: initial;
    flex-direction: row;
    position: fixed;
    top: initial;
    bottom: -0.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0.45rem;
    justify-content: space-evenly;
    border-right: none;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: inset 1px 1px 2px -1px hsl(0, 0, 6.25),  inset 1px 1px 2px -1px rgb(80, 79, 79);
  }

  .iconlogo{
    font-size: 2rem;
    margin: auto;
  }

  .iconlabel{
    display:none;
  }


  .pic {
    display: none;
  }

  .icons {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }

  .icon {
    font-size: 1.8rem;
  }

  .logout {
    display: none;
  }
}
