.Resourcecontainer {
  height: 955px;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
.row {
  width: 100%;
}
.heading {
  height: 117px;
  margin: 0 auto;
  width: max-content;
  top: 179px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #777777;
}
#box {
    border-bottom: 2px solid #CCCCCC;
    border-right: 0.5px solid #CCCCCC;
    border-left: 0.5px solid #CCCCCC;
    border-radius: 11px;
    width:500px;
    padding: 1% 2%;
    margin-left: 258px;
    top: 179px;
    font-family: Quicksand;
    align-items: center;
    margin-top:10px;
  }
  
  #seconddiv.coolclass {
    max-height: 100%;
  }
  
  #seconddiv {
    max-height: 0%;
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
   margin:2%;
  }
  .App {
    height: 100%;
  }
  .BoxHeading{
    width:80%;
  }
  #root {
    height: 1200px;
  }
  .SResourceHeading{
    height: 50px;
    margin-left: 258px;
    top: 179px;
    font-family: Quicksand;
    font-style: normal;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .votes {
    text-align: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    width: 50px;
   margin-left: 400px;
   background:lightblue;
  }

.upvote{
  background: #3498db;
}

.downvote {
  background: #ff0000;
}
.votes .red :hover {
  background: #cc0000;
}

