@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.Dropdown-control {
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid rgb(201, 201, 201) !important;
  padding: 0.7rem !important;
}

.dropdown-container {
  border: none !important;
  border-bottom: 1px solid rgb(201, 201, 201) !important;
  --rmsc-main: rgba(0, 0, 0, 0) !important;
}

.my-masonry-grid {
  max-width: 1420px;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
