@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Quicksand", sans-serif;
   */
   /* font-family: Noto Sans,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
   /* font-family:ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; */
  font-family: 'Noto Sans', sans-serif;;
   /* font-size:1em */
}

.Dropdown-root {
  width: 100%;
}

.Dropdown-control {
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid rgb(201, 201, 201) !important;
  padding: 0.7rem !important;
  border-radius: 0 !important;
}

.dropdown-container {
  border: none !important;
  border-bottom: 1px solid rgb(201, 201, 201) !important;
  --rmsc-main: rgba(0, 0, 0, 0) !important;
  border-radius: 0 !important;
}

.rmsc {
  border-radius: 0 !important;
  width: 100% !important;
}

.my-masonry-grid {
  max-width: 1420px;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  width: 50% !important;
  background-clip: padding-box;
}

@media screen and (max-width: 430px) {
  .my-masonry-grid_column {
    padding-left: 0;
  }
}